{% extends 'base.html' %}

{% block body_block %}

<style>
    .parent{
        display: grid;
        gird
    }
</style>

<div class="list-people">

    <div class="row">
            {% for person in people %}
            <div class="card mt-3" style="width: 18em;">
                <img src="../../../images/propic.png" width="100%" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        {{person.username}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}